@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* ---------------- scrollbar styling ------------------- */

body::-webkit-scrollbar {
	background-color: rgb(230, 204, 179);
	border-radius: 4px;
	box-shadow: inset 0 0 12px white;
}

body::-webkit-scrollbar-thumb {
	background: rgb(228, 152, 152);
	border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
	background: rgb(175, 90, 90);
}

/* --------------------------- body general appearance -------------------- */

body {
	background-color: rgb(230, 204, 179);
	margin: 0;
	text-align: center;
}

/* --------------------------- nav bar ------------------------------ */

header {
	display: flex;
	justify-content: flex-end;
}

nav {
	display: flex;
	justify-content: center;
	margin: 18px;
}

nav a:not(button a) {
	padding: 15px;
	border-radius: 50px;
	border: rgb(230, 204, 179) dotted 2px;
	font-size: 26px;
}

header li a {
	background-color: brown;
	color: burlywood;
}

li a {
	color: brown;
}

li {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	font-family: 'Elsie';
}

a {
	text-decoration: none;
	cursor: pointer;
}

nav a:not(button a):hover {
	background-color: indianred;
	color: white;
}

button {
	display: none;
	border: none;
	font-size: 25px;
	padding: 7px;
	border-radius: 4px;
	background-color: crimson;
}

/* -------------------------- main content general alignment ----------------- */

main:not(li),
aside,
footer,
section:first-of-type p:not(div p),
section:first-of-type h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ------------------------ introduction content alignment and general looks ---------------- */

main div:first-child > div:first-child {
	margin: 50px;
	font-family: 'Mansalva';
	color: brown;
	font-size: 25px;
	display: flex;
	align-items: center;
}

main div:first-child > div:first-child > div:first-child {
	flex-direction: column;
}

main div:first-child div a {
	color: crimson;
}

main div:first-child div p:last-child {
	font-size: 35px;
}

main div:first-child div p a:hover {
	font-weight: bolder;
	letter-spacing: 2px;
}

main div:first-child div p::selection {
	background-color: rgb(185, 170, 67);
	color: whitesmoke;
}

main img:not(section img) {
	border-radius: 150px;
	width: 350px;
}

h1::selection,
main div:first-child a::selection {
	background-color: wheat;
	color: peru;
}

span {
	letter-spacing: 3px;
	color: crimson;
}

span::selection {
	background-color: pink;
	color: rgb(180, 75, 107);
}

/* ------------------------- titles appearance ------------------ */

h2 {
	font-family: 'Monoton';
	color: crimson;
	font-size: 75px;
}

/* ------------------------------ both tools and projects sections ---------------------- */

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 170px;
}

section:nth-child(2) div:not(section:nth-child(2) div > div) {
	width: 60vw;
}

section:nth-child(2) div,
section:last-child > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

section:nth-child(2) {
	background: linear-gradient(to bottom, rgb(230, 204, 179), #f0bf75, #d4a274, #f3c299, #f2f39c);
}

section:nth-child(2) div > div {
	cursor: url('./images/emoticon.png'), auto;
	justify-content: center;
	border-radius: 115px;
	margin: 15px;
	-webkit-box-shadow: 10px 7px 7px 3px rgba(102, 96, 102, 0.79);
	-moz-box-shadow: 10px 7px 7px 3px rgba(102, 96, 102, 0.79);
	box-shadow: 10px 7px 7px 3px rgba(102, 96, 102, 0.79);
}

section:nth-child(2) img {
	height: 100px;
}

section:last-child div > div {
	margin: 7px;
}

section:last-child div > div:hover {
	-webkit-box-shadow: 8px 5px 5px 3px rgba(102, 96, 102, 0.79);
	-moz-box-shadow: 8px 5px 5px 3px rgba(102, 96, 102, 0.79);
	box-shadow: 8px 5px 5px 3px rgba(102, 96, 102, 0.79);
	transform: scale(1.03);
}

section:nth-child(2) a,
section:last-child div a {
	font-size: 20px;
	color: rgb(180, 75, 107);
}

section:last-child div a:hover {
	font-size: 21px;
	color: brown;
}

section:first-of-type p:not(div p),
h3 {
	font-family: 'Mansalva';
	color: brown;
	font-size: 30px;
}

section:last-child img {
	height: 100px;
	border-radius: 115px;
	max-width: 155px;
}

section div > div {
	background-color: white;
	border: 1px solid rgb(224, 126, 192);
	padding: 25px;
	flex-direction: column;
	width: 180px;
	height: 180px;
	font-family: 'Mansalva';
}

/* ----------------------------- aside quote --------------------------- */

aside {
	background: radial-gradient(circle, rgb(185, 170, 67) 6%, #b3b475 56%, rgb(230, 204, 179));
	border-top: solid 2px rgb(185, 170, 67);
	border-bottom: solid 2px rgb(185, 170, 67);
	color: cornsilk;
	width: 100%;
	font-family: 'Mansalva';
	font-size: 55px;
}

/* -------------------------- icons and footer ---------------------- */

i:not(button i) {
	font-size: 45px;
	padding: 25px;
}

button i {
	color: wheat;
}

footer {
	background: linear-gradient(to bottom, rgb(230, 204, 179), #f0cae6, #bb955d, #d89d65);
	border: rgb(180, 75, 107) 1px dashed;
	border-radius: 5px;
	color: cornsilk;
}

/* ------------------------- hidden elements ------------------------ */

.hidden {
	display: none;
}

/* ------------------------ mobile menu display ------------------ */

.mobile {
	left: 0;
	top: 12px;
	transition: 1s;
	animation: ease-in;
}

/* ------------------------------------ media queries ----------------------------- */

@media (min-width: 600px) and (max-width: 900px) {
	main div:first-child {
		flex-direction: column;
	}

	main div:first-child > div:first-child {
		margin: 0;
		margin-top: 25px;
	}

	header ul {
		position: absolute;
		left: -50px;
		top: -500px;
	}

	header ul li {
		max-width: 130px;
		margin: 0;
	}
	header ul li a {
		font-size: 25px;
		padding: 8px;
		margin: 0;
		border: none;
		background-color: transparent;
		color: brown;
	}

	footer ul {
		display: none;
	}

	ul:not(header ul, footer ul) {
		display: flex;
		align-items: center;
	}

	li:not(header li, footer li) {
		width: 30vh;
	}

	li a:not(header li a, footer li a) {
		font-size: 20px;
	}

	button {
		display: flex;
		justify-content: flex-end;
	}

	section:nth-child(2) div:not(section:nth-child(2) div > div) {
		width: 100%;
	}

	footer {
		border: none;
	}
}

@media (max-width: 600px) {
	main div:first-child {
		flex-direction: column;
		margin-top: 50px;
	}

	main div:first-child div:first-child {
		margin: 3px;
	}

	main div:first-child > div:first-child > div:first-child > a,
	main div:first-child > div:first-child > div:first-child > p,
	main div:first-child > div:first-child > div:first-child > h1,
	main div:first-child > div:first-child > div:first-child > span,
	section:first-of-type p:not(div p) {
		font-size: 1.05em;
	}

	main img:not(section img) {
		width: 250px;
	}

	header div:last-child {
		padding: 0;
		width: 50px;
		height: auto;
	}

	header ul {
		display: flex;
		align-items: center;
		justify-content: start;
		position: absolute;
		left: 0;
		top: -500px;
		margin: 2px;
	}

	header ul li {
		max-width: 100px;
		margin: 2px;
	}

	header ul li a {
		border: none;
		font-size: 20px;
		background-color: transparent;
		color: brown;
		margin: 0;
		padding: 6px;
	}

	footer ul {
		display: none;
	}

	nav:not(header nav) {
		margin: 0;
	}

	ul {
		padding: 0;
	}

	aside p {
		font-size: 60%;
	}

	li a:not(header li a, footer li a) {
		font-size: 15px;
		padding: 10px;
		margin: 0;
	}

	button {
		display: flex;
		justify-content: flex-end;
		font-size: 1em;
	}

	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 20px;
	}

	section {
		padding-bottom: 80px;
	}

	section:nth-child(2) div:not(section:nth-child(2) div > div) {
		width: 100%;
	}

	section div > div {
		max-width: 135px;
		max-height: 145px;
		padding: 15px;
	}

	section div > div > img {
		max-height: 70px;
	}

	section:last-child div a,
	section:nth-child(2) a {
		font-size: 20px;
	}

	i:not(button i) {
		font-size: 25px;
		margin: 10px;
		padding: 0;
	}

	footer {
		border: none;
	}
}
